body {
  background-color: #fff;
}

.content-2,
.content-3,
.content-4 {
  padding-left: 12px;
  padding-right: 12px;
}

.content-2 {
  padding-top: 12px;
}

.content-4 {
  padding-bottom: 96px;
}

.content-2 div,
.content-3 div,
.content-4 div {
  border: 12px solid #ededed;
}

.content-1 div,
.content-2 div,
.content-4 div {
  height: 400px;
}

.content-3 div {
  height: 150px;
}

.html-code-hidden {
  display: none !important;
  visibility: hidden !important;
}

.force-unfixed .navbar {
  position: relative !important;
}

.force-unfixed .brandbar {
  margin-bottom: 0 !important;
}

.brandbar {
}

.navbar {    
}

