/*overwrite telekom settings*/
.row {
    margin-left: 0;
    margin-right: 0;
}

.col.col-l-1, .col-l-10, .col-l-11, .col-l-12, .col-l-2, .col-l-3, .col-l-4, .col-l-5, .col-l-6, .col-l-7, .col-l-8, .col-l-9, .col-m-1, .col-m-10, .col-m-11, .col-m-12, .col-m-2, .col-m-3, .col-m-4, .col-m-5, .col-m-6, .col-m-7, .col-m-8, .col-m-9, .col-s-1, .col-s-10, .col-s-11, .col-s-12, .col-s-2, .col-s-3, .col-s-4, .col-s-5, .col-s-6, .col-s-7, .col-s-8, .col-s-9, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    padding-left: 0;
    padding-right: 0;
    min-height: 0;       
}

.container-fluid {
    padding-right: 0px;
    padding-left: 0px; 
}

.row:before{
    content:' ';
    display:block !important;
}

.paddingHeader {
    padding: 1em 0;
}


/*general*/
.magentaLayerContainerTop {    
    display: inline-table;    
}

.magentaLayerContainerBot {    
    float: right;    
    text-align: right;        
    margin-right: 8.33333333%;
}

.parentContainerMagentaLayerContainerBot {
    overflow: auto;
}


body {
    min-width: 320px !important;
}

h1 {   
    margin-top: 0 !important;
}

h2 {   
    margin-top: 0 !important;
}

h3 {   
    margin-top: 0 !important;
}

.displayNone {
    display: none;
}

.displayInline {
    display: inline;
}

.parent {
    position: relative;    
}

.child {
    position: absolute;
}

/*fonts*/
@font-face{
    font-family:TeleGroteskScreenUltra;
    src: url('../fonts/telegroteskscreen-ultra.woff') format('woff'),
        url('../fonts/telegroteskscreen-ultra.ttf') format('truetype');
}

/*cookie disclaimer*/
.cookie_row {
    background: #373737;
}

.cookie_disclaimer {    
    color: #fff;
    font-size: 15px;
    line-height: 1.333;
    background: #373737;
    padding: 12px 20px 12px 0;    
    z-index: 6500;
}

.cookie_text_color_more {
    color: #32c2f6;    
}

.cookie_close_button {     
    margin-top: 10px;
    margin-right: 5px;
    text-align: center;
    width: 20px;
    height: 20px;
    font-size: 1.2em;    
    position: fixed;
    top: 0px;
    right: 0px;        
}

.cookie_text_color_more {
    color: #32c2f6;    
}


/*header*/
.paddingBrandClaim {
    padding: 9px 0;
}


/*magentaLayerField*/

#inland {
    background: url('../images/11833-banner.png') no-repeat center center /cover;
}

#ausland {
    background: url('../images/11834-banner.png') no-repeat center center /cover;
}

.spacerMobileTop {
    height: 3em;
}

.spacerMobileBot {
    height: 3em;
}

.mainNumbers {            
    max-height: 5em;
}

.mainHeadlines {
    color: white;
    font-size: 2em;
    line-height: 1em;
}

.paddingMainNumbers {
    padding: 1em;
}

.paddingHeadlines {
    padding: 0 1em;
}

.spacerMagentaLayer {
    height: 1.5em;
}

.fontBrandClaim {    
    font-family: 'TeleGroteskScreenUltra';
}

.floatRight {
    float: right;
}

.magentaLayerLeft1 {
    background-image: linear-gradient(90deg, rgba(226, 0, 116, 1) 1%, rgba(226, 0, 116, 1) 90%, rgba(226, 0, 116, .65) 90%, rgba(226, 0, 116, .65) 100%);
}

.magentaLayerLeft2 {
    background-image: linear-gradient(90deg, rgba(226, 0, 116, .825) 1%, rgba(226, 0, 116, .825) 80%, rgba(226, 0, 116, .65) 80%, rgba(226, 0, 116, .65) 100%);
}

.magentaLayerLeft3{
    background-image: linear-gradient(90deg, rgba(226, 0, 116, .65) 1%, rgba(226, 0, 116, .65) 80%, rgba(226, 0, 116,0) 80%, rgba(226, 0, 116,0) 100%);
}

.magentaLayerRight1 {
    background-image: linear-gradient(90deg, rgba(226, 0, 116, .65) 1%, rgba(226, 0, 116, .65) 10%, rgba(226, 0, 116, 1) 10%, rgba(226, 0, 116, 1) 100%);
}

.magentaLayerRight2 {
    background-image: linear-gradient(90deg, rgba(226, 0, 116, .65) 1%, rgba(226, 0, 116, .65) 20%, rgba(226, 0, 116, .825) 20%, rgba(226, 0, 116, .825) 100%);
}

.magentaLayerRight3{
    background-image: linear-gradient(90deg, rgba(226, 0, 116, 0) 1%, rgba(226, 0, 116, 0) 20%, rgba(226, 0, 116, .65) 20%, rgba(226, 0, 116, .65) 100%);
}


/*text*/

.textUpperCase {
    text-transform: uppercase;
}

.textBlock {
    /*hyphens: auto;*/ 
    text-align: justify;
}

.textSize5em {    
    font-size: 5em;
}

.textSize1_25em {
    font-size: 1.25em;
}

.textSize1em {
    font-size: 1em;
}

.textSize0_65em {
    font-size: .65em;
}

.textColorMagenta {
    color: #E20074;
}

.textColorWhite {
    color: white;
}

.textGrayFootnotes {
    color: #918984;
}

.faqAnswerText {
    color: white;
    background-color: #6C6C6C;
    padding: 0.75em 1em;
    margin-bottom: 1em;
}

.textFooterInformation {
    color: white !important;   
    
}

.textFooterInformation:hover {
    border-bottom: 1px #fff solid;
}


/*indicies*/
sup {
    top: -0.75em;
}

.textSizeIndicies {
    font-size: .5em;
}


/*colors*/

.magenta100 {
    background-color: #E20074;
}

.gray7C7C7C {
    background-color: #7C7C7C;
}

.gray6C6C6C {
    background-color: #6C6C6C;
}

.gray383838 {
    background-color: #383838;
}


/*spacing*/
.spacer1em {
    padding-top: 1em;
}

.spacer1_5em {
    padding-top: 1.5em;
}

.spacer2em {
    padding-top: 2em;
}

.spacer3em {
    height: 3em;
}

.spacer4em {
    padding-top: 4em;
}

.noPadding {
    padding: 0;
}

.noMargin {
    margin: 0;
}

.paddingTextfield {
    padding: 1.5em 0;  
}

.paddingTop1em {
    padding-top: 1em !important;
}

.paddingHeader {
    padding: 1.1em 0 1em 0;    
}

.paddingTopBot12px {
    padding: 12px 0;
}

.paddingMagentaLayerRight {
    padding-right: .75em;
}

.paddingMagentaLayerLeft {
    padding-left: .75em;
}

.paddingRight24px {
    padding-right: 24px;
}

.separatorLineWhite {
    height: 1px;
    background: rgba(255, 255, 255, .5);
    margin: 0.25em 0;
}


/*button*/
.showPointer {
    cursor: pointer;
}

.buttonIcon {    
    height: 0.75em;    
    margin-right:.6em;    
    margin-top: -0.2em;
}

.buttonDark {
    background: #383838;
}

.buttonDark:hover {
    background: #4a4a4a;
}

.buttonDark:active {
    background: #E20074;
}

.btn-default:active {
    color: white !important;
    background: #E20074;
}


/*a*/
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

a:active {
    text-decoration: none;
}


/*list*/
ul {
    padding-left: 1em;
    margin-top: 0;
    margin-bottom: 0;    
}

.footerLists {
    padding-left: 0 !important;
}

.squareIcon {
    list-style-type: square;
}

.listLineBreak {
    display: none;
}


/*table*/
.pricelist {    
    vertical-align:middle;
    border: 1px solid;
    font-size: .75em;
}

.centerText {
    text-align:center !important;
}

table thead tr th {
    vertical-align: middle !important;
}

table tbody tr td {
    vertical-align: middle !important;
}

.widthCol1 {
    width: 66%;
}

.widthCol2And3 {
    width: 17%;
}

.offsetLeft2_5em {
    padding-left: 2.5em !important;
}

.offsetLeft5em {
    padding-left: 5em !important;
}


/*footer*/

.footer {    
    background-color:#262626;
    color:#fff;
    font-size:16px;
    line-height:16px;    
}

.footerSeparator {
    border-bottom: 1px solid #918984;
}

/*media queries*/

/*         
    #inland {
        background: url('../images/11833-banner-mobile.png') no-repeat center center /cover;
    }

    #ausland {
        background: url('../images/11834-banner-mobile.png') no-repeat center center /cover;
    }    
*/

@media screen and (min-width: 320px) and (max-width: 359px) {
    
    .mainNumbers {            
        height: 2em;
    }

    .mainHeadlines {        
        /*font-size: 2em;*/
        font-size: .75em;        
    } 
    
    .paddingMainNumbers {
        /*padding: 1em;*/
        padding: 0.5em;
    }

    .paddingHeadlines {
        /*padding: 0 1em;*/
        padding: 0 0.5em;
    }

    .spacerMagentaLayer {
        /*height: 1.5em;*/
        height: .75em;
    }
    
    .spacerMobileTop {
        height: 1.5em;
    }

    .spacerMobileBot {
        height: 5em;
    }
    
    .spacer3em {
        height: 1.5em;
    }
        
    h2 {
        font-size: 21px;
    }
    
    .textSize1_25em {
        font-size: 1em;
    }
    
    .textSize1em {
        font-size: .8em;
    }
    
    .btn {
        font-size: .8em;
    }
    
    /*add linebreak to infos*/
    .listLineBreak {
        display: block;
    }
}

@media screen and (min-width: 360px) and (max-width: 399px) {
    
    .mainNumbers {            
        height: 2em;
    }

    .mainHeadlines {        
        /*font-size: 2em;*/
        font-size: .85em;        
    } 
    
    .paddingMainNumbers {
        /*padding: 1em;*/
        padding: 0.5em;
    }

    .paddingHeadlines {
        /*padding: 0 1em;*/
        padding: 0 0.5em;
    }

    .spacerMagentaLayer {
        /*height: 1.5em;*/
        height: .75em;
    }
    
    .spacerMobileTop {
        height: 1.5em;
    }

    .spacerMobileBot {
        height: 5em;
    }
    
    .spacer3em {
        height: 1.5em;
    }
    
    h2 {
        font-size: 21px;
    }
    
    .textSize1_25em {
        font-size: 1em;
    }
    
    .textSize1em {
        font-size: .8em;
    }
    
    /*add linebreak to infos*/
    .listLineBreak {
        display: block;
    } 
}

@media screen and (min-width: 400px) and (max-width: 419px) {
    
    .mainNumbers {            
        height: 2em;
    }

    .mainHeadlines {        
        /*font-size: 2em;*/
        font-size: .95em;        
    } 
    
    .paddingMainNumbers {
        /*padding: 1em;*/
        padding: 0.5em;
    }

    .paddingHeadlines {
        /*padding: 0 1em;*/
        padding: 0 0.5em;
    }

    .spacerMagentaLayer {
        /*height: 1.5em;*/
        height: .75em;
    }
    
    .spacerMobileTop {
        height: 1.5em;
    }

    .spacerMobileBot {
        height: 5em;
    }
    
    .spacer3em {
        height: 1.5em;
    }    
    
    h2 {
        font-size: 21px;
    }
    
    .textSize1_25em {
        font-size: 1em;
    }
    
    .textSize1em {
        font-size: .8em;
    }
    
    /*add linebreak to infos*/
    .listLineBreak {
        display: block;
    } 
}

@media screen and (min-width: 420px) and (max-width: 479px) {
    
    .mainNumbers {            
        height: 2em;
    }

    .mainHeadlines {        
        /*font-size: 2em;*/
        font-size: 1em;        
    } 
    
    .paddingMainNumbers {
        /*padding: 1em;*/
        padding: 0.5em;
    }

    .paddingHeadlines {
        /*padding: 0 1em;*/
        padding: 0 0.5em;
    }

    .spacerMagentaLayer {
        /*height: 1.5em;*/
        height: .75em;
    }
    
    .spacerMobileTop {
        height: 1.5em;
    }

    .spacerMobileBot {
        height: 5em;
    }
    
    .spacer3em {
        height: 1.5em;
    }
    
    h2 {
        font-size: 21px;
    }
    
    .textSize1_25em {
        font-size: 1em;
    }
    
    .textSize1em {
        font-size: .8em;
    }
    
    /*add linebreak to infos*/
    .listLineBreak {
        display: block;
    } 
}

@media screen and (min-width: 480px) and (max-width: 575px) {
    
    .mainNumbers {            
        height: 2.5em;
    }

    .mainHeadlines {        
        /*font-size: 2em;*/
        font-size: 1.15em;        
    } 
    
    .paddingMainNumbers {
        /*padding: 1em;*/
        padding: 0.5em;
    }

    .paddingHeadlines {
        /*padding: 0 1em;*/
        padding: 0 0.5em;
    }

    .spacerMagentaLayer {
        /*height: 1.5em;*/
        height: .75em;
    }
    
    .spacerMobileTop {
        height: 1.5em;
    }

    .spacerMobileBot {
        height: 4em;
    }
    
    .spacer3em {
        height: 1.5em;
    }
    
    h2 {
        font-size: 24px;
    }
    
    .textSize1_25em {
        font-size: 1.15em;
    }        
    
    .textSize1em {
        font-size: .9em;
    }
}

@media screen and (min-width: 576px) and (max-width: 649px) {

    .mainNumbers {            
        height: 3em;
    }

    .mainHeadlines {        
        /*font-size: 2em;*/
        font-size: 1.25em;        
    } 
    
    .paddingMainNumbers {
        /*padding: 1em;*/
        padding: .75em;
    }

    .paddingHeadlines {
        /*padding: 0 1em;*/
        padding: 0 .75em;
    }

    .spacerMagentaLayer {
        /*height: 1.5em;*/
        height: .75em;
    }
    
    .spacerMobileTop {
        height: 1.5em;
    }

    .spacerMobileBot {
        height: 3em;
    }
    
    .spacer3em {
        height: 1.5em;
    }    
    
    h2 {
        font-size: 24px;
    }
}

@media screen and (min-width: 650px) and (max-width: 767px) {

    .mainNumbers {            
        height: 3em;
    }

    .mainHeadlines {        
        /*font-size: 2em;*/
        font-size: 1.25em;        
    } 
    
    .paddingMainNumbers {
        /*padding: 1em;*/
        padding: 1em;        
    }

    .paddingHeadlines {
        /*padding: 0 1em;*/
        padding: 0 1em;
    }

    .spacerMagentaLayer {
        /*height: 1.5em;*/
        height: 1em;
    }
    
    .spacerMobileTop {
        height: 2em;
    }

    .spacerMobileBot {
        height: 2em;
    }
    
    .spacer3em {
        height: 2em;
    }        
    
    h2 {
        font-size: 24px;
    }   
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    
    .mainNumbers {            
        height: 4em;
    }

    .mainHeadlines {        
        /*font-size: 2em;*/
        font-size: 1.5em;             
    } 
    
    .paddingMainNumbers {
        /*padding: 1em;*/
        padding: 1em;
    }

    .paddingHeadlines {
        /*padding: 0 1em;*/
        padding: 0 1em;
    }

    .spacerMagentaLayer {
        /*height: 1.5em;*/
        height: 1.25em;
    }
    
    .spacerMobileTop {
        height: 2em;
    }

    .spacerMobileBot {
        height: 2em;
    }
    
    .spacer3em {
        height: 2em;
    } 
    
    h2 {
        font-size: 24px;
    }    
}

@media screen and (min-width: 992px) and (max-width: 1049px) {
    
    .mainHeadlines {        
        font-size: 1.75em;                
    } 
}

@media screen and (min-width: 1050px) and (max-width: 1134px) {
    
    .mainHeadlines {        
        font-size: 1.8em;            
    }     
}